node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build

Dockerfile
.dockerignore
.env
.env.local
.env.development
.env.production

.git
.gitignore
.gitattributes

README.md
LICENSE
*.md

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db